// D3 styles
svg {
  font: 10px sans-serif;
}

.axis path {
    fill:none;
    stroke: black;
}
.axis {
    font-size:8pt;
    font-family:sans-serif;
    fill:black;
    stroke:black;
}
.tick {
    fill:none;
    stroke:black;
}
.resid {
    stroke:black;
    stroke-width:0.5px;
    fill:RoyalBlue;
    opacity:0.6;
    r:5;
}
circle:hover {
    stroke-width:3.0px;
    stroke:red;
}
.npts {
    stroke:black;
    stroke-width:0.5px;
    fill:black;
    opacity:0.6;
    r:3;
}
.path {
    fill:none;
}
.infoControl {
    padding: 5px 5px;
    font: 12px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

}




